body {
  font-family: "arial";
}

tr:nth-child(even) {
  background-color: #ddd;
}

h4 {
  text-align: center;
  margin-top: -50px;
}

table th,
table td {
  padding-top: 10px;
  padding-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
}

table {
  margin-bottom: 60px;
  margin-top: 30px;
}

footer {
  position: absolute;
  text-align: center;
  padding-top: 25px;
  height: 50px;
  width: 100%;
  right: 0px;
  border-top: 1px solid gray;
  left: 0px;
  bottom: 0px;
}
